html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:0;}
body{line-height:1;color:black;background:white;}
ol,ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}

body { font-family: calibri; color: #333; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; color: #595F51; margin: 8px 0; }
h1, h2 { margin: 16px 0; }
h1 { font-size: 1.6em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }

p, ul { margin: 8px 0 16px; line-height: 1.4em; text-align: justify; }

.sectionwrapper { border: 1px solid #DDD; border-bottom-width: 8px; margin-bottom: 16px; padding: 0 16px; }

ul span { display: block; float: left; width: 100px; }